[submodule "go-store-client"]
	path = go-store-client
	url = https://github.com/zidoshare/go-store-client.git
[submodule "go-store-admin-client"]
	path = go-store-admin-client
	url = https://github.com/zidoshare/go-store-admin-client.git
